.p1{
    margin-top: 160px;
    font-weight: 600;
    font-size: 32px;
    margin-left: 103px;
}
.p2{
    margin-left: 103px;
    font-weight: 500;
    font-size: 20px;
}
.p3{
    margin-left: 103px;
    font-weight: 500;
    font-size: 20px;
}